<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost; database=apitest; UID=root; password=1234" providerName="System.Data.SqlClient" />
    <add name="QADefaultConnection" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>